/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.table {
  width: 116%;
  margin-bottom: 1rem;
  color: #212529;
  border: solid 1px black;
  margin-top: 3%;
}

